<h1>Log In</h1>

<ul>
  <li>
    <%= link_to '/auth/google', class: 'btn' do %>
      <%= icon 'google', 'Google' %>
    <% end %>
  </li>
  <li>
    <%= link_to '/auth/facebook', class: 'btn' do %>
      <%= icon 'facebook', 'Facebook' %>
    <% end %>
  </li>
</ul>
