/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_self
 */

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700);
@import "font-awesome-sprockets";
@import "font-awesome";
@import 'variables';
@import 'reset';
@import 'components';
@import 'patches';

.constrained {
  width: $bodyWidth;
  margin: 0 auto;
}

body {
  background-color: $white;
}

header {
  background-color: $darkBlue;
  padding: 20px 0;

  a {
    color: $white;
  }

  .constrained {
    display: flex;
    justify-content: space-between;
  }

  .header-section {
    display: flex;
    align-items: center;
  }

  .actions {
    a {
      @extend .btn;
      border-right: solid $blue 1px;

      &:first-child {
        border-radius: 4px 0 0 4px;
      }

      &:last-child {
        border-radius: 0 4px 4px 0;
        border-right: 0;
      }
    }
  }
}

main {
  background-color: white;
  padding: 15px 25px;

  & > h1 {
    border-bottom: solid $lightGray 1px;
    margin-bottom: 15px;
  }
}
