.btn {
  padding: 5px 10px;
  color: $white;
  background-color: $lightBlue;
  border-radius: 4px;
  cursor: pointer;
  border: none;

  &:hover {
    background-color: $blue;
  }
}

button, input[type="submit"] {
  @extend .btn;
  font-size: 14px;
}

.alert {
  border-radius: 4px;
  padding: 10px 15px;
  margin-bottom: 15px;
  border: solid 1px;
}

.alert-error, .alert-alert {
  @extend .alert;
  border-color: $red;
  color: $red;
  background-color: $lightRed;
}

.alert-info {
  border-color: $blue;
  color: $white;
  background-color: $lightBlue;
}

/*
 * FORMS
 */

 .form-group {
   margin: 15px 0;
   font-size: 14px;

   label {
     display: block;
     margin-bottom: 5px;
     color: gray;
   }

   input {
     display: block;
     padding: 5px;
     border: solid $lightGray 1px;

     &[type="text"] {
       min-width: 250px;
     }
   }

   textarea {
     min-width: 250px;
     min-height: 100px;
     padding: 5px;
     border: solid $lightGray 1px;
   }
 }

.oscilloscope {
  display: block;
  width: 75px;
  height: 37px;
  margin-right: 10px;
  background-color: black;
  border: solid $white 2px;
  border-radius: 4px;
}
