/*
 * Global overrides for default tag behavior
 */
 
* {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

html, body {
  height: 100%;
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

a {
  color: $lightBlue;
  text-decoration: none;
}

ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
